@font-face { font-family: AmmysHandwriting2; src:url(http://{serversIP}/fonts/AmmysHandwriting2.ttf);}
@font-face { font-family: Rock; src:url(http://{serversIP}/fonts/Roboto-Regular.ttf);}
@font-face { font-family: Typewriter; src:url(http://{serversIP}/fonts/Typewriter-Light.ttf);}
@font-face { font-family: Marker; src:url(http://{serversIP}/fonts/PermanentMarker.ttf);}
@font-face { font-family: Light; src:url(http://{serversIP}/fonts/Roboto-Light.ttf);}
@font-face { font-family: Bold; src:url(http://{serversIP}/fonts/Roboto-Bold.ttf);}

body {margin: 0; width:100%;    background-color:#f4f4f4; font-family:Light}

.topBar {text-align:left; font-family:Marker;   color:#fafafa;  font-size: 17pt;
    width:100%;  background-color: #16b5bf; border:0; position:fixed; border-color:#a30070; margin:0; padding:1cm}
.bottomBarF {text-align:center; font-family:Rock;   color:#454545;  font-size: 160%;    padding:2%; width:100%;
    bottom:0;   margin:0px;  background-color: #d0d0d0; border:0; position:fixed; border-color:#a30070; border-bottom:0.2%; border-style:ridge}
.dateBar {text-align:center; font-family:Typewriter;   color:#454545;  font-size: 140%;    padding:1.2%;
    width:98%;   margin:0;  background-color: #ffffff; border:0; position:relative; border-bottom:0.2%; border-style:flat;   border-color:#19a6b7;
    border:0, border-bottom:1%}
.pageBody {margin:0;    width:100%;  background-color: #fafafa}
.theTable {margin:0}
.downloadThisApp {font-family:Rock;  font-size: 12pt;   border-style:dotted; border-color: #19a6b7; border-radius:6px;
    border:12px;  background-color:#19a6b7;  padding:15px;  color:#ffffff}
.optionsOnTopBar {font-family:Rock;  font-size: 12pt;   border-style:dotted; border-color: #19a6b7;
    border:12px;  background-color:#eaeaea;  padding:15px;  color:#101010}
.bookmarkCard {background-color:#fefefe; border-style:groove;   border:#19a6b7;   border-top:0;    border-left:0;    border-right:0;  border:.01; padding:3%;  border-radius:1%;  margin:0;   margin-top:0}
.leftTab {text-align:center; font-family:Rock;   color:#505050;  font-size: 180%;
    margin:0px;  background-color: #ffffff; border:0; position:relative; border-color:#a30070; border-bottom:2px; border-style:flat;
    margin-left:10%}
.stripHeader{background-color:#16b5bf;  color:#ffffff;  padding:3%;}
.leftTab {width:80%}
.rightTab {border-radius:1%;   width:20%;   margin-left:1%}
.bgImage {background-color:#19a6b7; max-width:100%; position:absolute; left:5%}
.normalText {font-family:AmmysHandwriting2; color:#909090; text-align:center;  font-size: 80%; margin:0;    padding:1%}
.normalRockText {font-family:Rock; color:#909090; text-align:center;  font-size: 80%; margin:0;    padding:1%}
.articleText {font-family:AmmysHandwriting2; color:#808080; text-align:center;  font-size: 130%; margin:0;    padding:1%; }
.articleSubheading {font-family:Rock; color:#606060; text-align:left;  font-size: 130%; margin:0;    padding:1%}
.postTimeBig {font-family:Rock; color:#909090; text-align:center;  font-size: 110%; margin:0;    padding:1%}
.articleText2 {font-family:Rock; color:#909090; text-align:left;  font-size: 110%; margin:0;    padding:1%}
.articleDateText {font-family:Rock; color:#404040; text-align:center;  font-size: 70%; margin:0;    padding:1%}
.quoteText {font-family:AmmysHandwriting2;  line-spacing:1.4%; color:#b6b6b6; text-align:center;  font-size: 165%; margin:0;    padding:2%}
.headlineText {font-family:Rock; color:#535353; font-size: 200%;    padding:2%; text-align:center;  margin:0}
.bannerHeadline {font-family:Rock; background-color:#16b5bf;    color:#ffffff;  padding:2%; padding-right:2%; font-size: 200%;  margin:0}
.bookmarkTitle {font-family:Rock;  padding:.7%; font-size: 160%; margin:0;  margin-left:20%; width:60%}
.hobbiesStack {text-align:center;   margin-left:0%;    font-family: Rock; color:#909090}
.amIcon {width:2.5cm;  position:absolute; left:50%}
.article_markup {margin:0}
.noDec {margin:0}
a.noDec:link{text-decoration:None; color:#1f1f1f;   font-family:Rock}
a.noDec:visited{text-decoration:None; color:#1f1f1f;   font-family:Rock}
a.article_markup:link{text-decoration:None;   font-family:AmmysHandwriting2}
a.article_markup:visited{text-decoration:None;   font-family:AmmysHandwriting2}
a.username_link:link{text-decoration:None; color:#1f1f1f;   font-family:Bold}
a.username_link:visited{text-decoration:None; color:#1f1f1f;   font-family:Bold}
.actionButton {margin:0}
a.actionButton:link{text-decoration:None; color:#1f1f1f;   font-family:Rock; hover:#7fac38}
a.actionButton:visited{text-decoration:None; background-color:{app_color};   font-family:Rock}
a.bottomBarF:link{text-decoration:None; color:#606060;   font-family:Rock}
a.bottomBarF:visited{text-decoration:None; color:#606060;   font-family:Rock}
.humaneHeadlineText {font-family:AmmysHandwriting2; color:#fefefe; font-size: 150%; background-color:#16b5bf;   padding:3.5%;  margin:0}
.usernameLabel {font-family:Rock; color:#434343;  font-size: 100%}
.usernameLabelBig {font-family:Rock; color:#434343;  font-size: 250%;   text-align:center}
.userProfileBody {text-align:center}
.profileBanner {width:100%; margin:0;   text-align:center; font-family:Rock;   color:#fafafa;  font-size: 260%;}
.smallSectionHeading {font-family:Rock; color:#434343;  font-size: 150%;    margin:0;    margin-left:20%}
.col1 {margin:0}

@media screen and (min-width: 820px) {
    .tlpostdiv {max-width:50%; margin-left:25%; margin-right:25%;}
}


.statement{text-align:left; font-family:AmmysHandwriting2;   color:#c3c3c3;  font-size: 100%; position:absolute; top:32%; left:5%;  min-font-size:60%;}
.icon{text-align:left; font-family:AmmysHandwriting2; position:absolute; top:1%; left:.5%; width:60px}
.hobbyIcon{position:absolute; top:8%; left:46%; width:110px}
.bannerImage{position:relative; width:100%}
.downloadButton{text-align: center; font-family:Rock;   font-size:200%; width:100%;   background-color:#c5306c; color:#ffffff;
                border-style:flat;  position:relative;  margin:0}
.siteNavButton{text-align: center; font-family:Rock;   font-size:250%; padding:10%;   background-color:#cfcfcf;
                color:#101010; border-style:flat; position:relative;    margin:0}
.topBarButton{text-align: center; font-family:Rock;   font-size:40%; min-width:8%; width:25%;   background-color:#ffffff; color:#19a6b7;
                border-style:flat; position:absolute;   top:0%; left:72%;   padding:3.5%;   min-padding:2%}

a.downloadButton:link{text-decoration:None}
a.downloadButton:visited{text-decoration:None}
.navBarLink:visited{text-decoration:None; font-size:16pt}
.navBarLink:link{text-decoration:None; font-size:16pt}


h1 {text-align:left; font-size: 14pt;   margin:1px;    spacing:10px}
p2 {text-align:left;    font-family:Rock; margin:5px;    spacing:10px;  color: #545454}
#boxForAppDescription {border:2px;  padding:5px;    min-width:40%; background-color:#e7e7e7;   height:300px; font-family:Rock;  font-size: 16pt;    text-align:center}
#tableForDescription{border:2px;  padding:5px;    min-width:40%; background-color:#e7e7e7;   height:300px; font-family:Rock;  font-size: 16pt;    text-align:center;
min-width:100%;}
#middleTopBar {text-align:center; font-family:Rock;   color:#fafafa;
    width:99%;   margin:0px;  border:0; position:relative; border-color:#a30070; border-bottom:0.2%; border-style:ridge}
#rightTopBar {text-align:right; font-family:Rock;   color:#fafafa; margin:0;
    border:0; position:relative; border-color:#a30070; border-bottom:0.2%; border-style:ridge}

.navBar { list-style-type:none; margin:0; padding:0; overflow:hidden;    background-color:#333; top: 0; width:100%;
position:absolute }

.coolInput {margin:2%; font-size:25pt; border-style:solid;   border-color:#ccc; border-width:1px;
border-radius:2px; text-align:center; padding:5%}

.horizontalBar { list-style-type:none; margin:0;   padding:0%; overflow:hidden;    background-color:#fafafa; width:100%}

li { float:left; font-family:Rock; font-size:18pt; padding-left:1.5%; padding-top:.5cm; padding-right:1.5%;
padding-bottom:.5cm; width:45%; margin:0; text-align:center}
li a {display:block; color-white; text-align:center;    text-decoration: none; font-family:Rock}
li a:hover:not(.active) { background-color: #ffffff; color:#222222; font-family:Rock}

hr {border-style:solid; border-color:#909090}

.active {background-color:#{themeColor}; font-family:Rock;  font-size: 14pt; color:white}
.inactive {color:white; font-family:Rock;  font-size: 14pt}